@import url(https://fonts.googleapis.com/css?family=Oxygen:300);
#custom-nav {
  transition: all 0.8s;
  height: 5em;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  background-color: #c5eed6; }
  #custom-nav .custom-nav-header {
    padding: 10px 0; }
    #custom-nav .custom-nav-header a {
      color: #e60838; }
  #custom-nav .navbar-name {
    margin: auto;
    text-decoration: none;
    font-size: 2em; }
  #custom-nav .custom-nav-links {
    padding: 10px 0;
    font-size: 1.25em;
    link-decoration: none; }
    #custom-nav .custom-nav-links li a:hover {
      color: #e60838; }
  #custom-nav .custom-nav-collapse {
    background-color: #c5eed6; }

header {
  padding: 8em 0 4em;
  background-color: #3ac390;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  text-align: center; }
  header h2, header h3, header i {
    padding-top: 2%; }
  header a, header a:hover, header a:visited {
    color: #fff;
    text-decoration: none; }
  header .name {
    color: #e60838; }
  header .profile-img {
    max-height: 250px;
    border-radius: 50%; }
  header .contact-icons {
    padding-top: 2%;
    text-align: center; }
    header .contact-icons a, header .contact-icons a:visited {
      padding: 5%;
      color: #fff;
      text-decoration: none; }
    header .contact-icons a:hover {
      color: #c5eed6;
      text-decoration: none; }

#portfolio .under-construction {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  color: #4C4C4C;
  padding-bottom: 2%; }

#portfolio .portfolio-icon {
  max-width: 100%; }

#portfolio .portfolio-link .caption {
  background-color: rgba(30, 30, 30, 0.7);
  position: absolute;
  width: 92%;
  height: 100%;
  opacity: 0;
  padding-top: 30%; }
  #portfolio .portfolio-link .caption .caption-content {
    color: #fff;
    font-family: 'Quicksand', sans-serif; }

#portfolio .portfolio-link .caption:hover {
  opacity: 1; }

.custom-modal {
  text-align: center; }
  .custom-modal h1, .custom-modal h4, .custom-modal a {
    font-family: 'Quicksand', sans-serif; }
  .custom-modal h1 {
    margin-top: -2%;
    color: #e60838; }
  .custom-modal h4 {
    font-style: italic;
    padding-bottom: 1%; }
  .custom-modal p {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.25em;
    padding-top: 1%; }
  .custom-modal .modal-content {
    background-color: rgba(255, 255, 255, 0.9); }
  .custom-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #2c3e50;
    color: #000;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051; }
  .custom-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #2c3e50;
    color: #000;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    z-index: 1052; }
  .custom-modal .app-screenshot {
    margin: 0 auto;
    max-width: 70%;
    padding-bottom: 1%; }
  .custom-modal .icon-link {
    color: #4C4C4C; }
  .custom-modal .view-app {
    padding: 1% 0 2%; }
  .custom-modal a, .custom-modal a:visited {
    text-decoration: none;
    padding-right: 3%;
    color: #4C4C4C; }
    .custom-modal a .caption, .custom-modal a .caption-content, .custom-modal a:visited .caption, .custom-modal a:visited .caption-content {
      visibility: hidden; }
  .custom-modal a:hover {
    text-decoration: none;
    color: #e60838; }
  .custom-modal .button-div {
    padding-top: 2%; }
  .custom-modal .exit {
    background-color: #B2B2B2; }

#contact {
  background-color: #3ac390;
  border: none; }
  #contact h3, #contact h4 {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 2%; }
  #contact img {
    max-height: 150px;
    border-radius: 50%; }
  #contact .mail {
    padding-top: 2%;
    color: #c5eed6; }
  #contact .contact-icons a, #contact .contact-icons a:visited {
    padding: 5%;
    color: #fff;
    text-decoration: none; }
  #contact .contact-icons a:hover {
    color: #c5eed6;
    text-decoration: none; }

#footer {
  background-color: #c5eed6;
  padding: 1% 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif; }
  #footer a, #footer a:visited {
    color: #4C4C4C;
    text-decoration: none; }
  #footer a:hover {
    color: #3ac390;
    text-decoration: none; }

body {
  position: relative; }

section {
  text-align: center;
  padding: 2% 0;
  border-bottom: 2px solid #DBDBDB; }

.section-header {
  font-family: 'Quicksand', sans-serif;
  color: #e60838;
  padding-bottom: 2%; }

.section-content {
  padding-bottom: 1%;
  color: #4C4C4C;
  line-height: 150%;
  font-size: 1.25em;
  font-family: 'Oxygen', sans-serif; }

.logo-row {
  padding: 2% 0; }

.tech-logo {
  padding: 5%;
  max-height: 125px; }
