@import url(https://fonts.googleapis.com/css?family=Oxygen:300);
.custom-nav {
  height: 5em;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  background-color: #c5eed6; }
  .custom-nav .custom-nav-header {
    padding: 10px 0; }
    .custom-nav .custom-nav-header a {
      color: #e60838; }
  .custom-nav .navbar-name {
    margin: auto;
    text-decoration: none;
    font-size: 2em; }
  .custom-nav .custom-nav-links {
    padding: 10px 0;
    font-size: 1.25em;
    link-decoration: none; }
    .custom-nav .custom-nav-links li a:hover {
      color: #e60838; }
  .custom-nav .custom-nav-collapse {
    background-color: #c5eed6; }

header {
  padding: 8em 0;
  background-color: #3ac390;
  color: #fff;
  font-family: 'Quicksand', sans-serif; }
  header h2, header h3 {
    padding-top: 2%;
    text-align: center; }
  header .name {
    color: #e60838; }
  header .profile-img {
    max-height: 250px;
    border-radius: 50%; }

#about {
  text-align: center; }

section {
  text-align: center;
  padding: 2% 0;
  border-bottom: 2px solid #DBDBDB; }

.section-header {
  font-family: 'Quicksand', sans-serif;
  color: #e60838;
  padding-bottom: 3%; }

.section-content {
  padding-bottom: 1%;
  color: #4C4C4C;
  line-height: 150%;
  font-size: 1.25em;
  font-family: 'Oxygen', sans-serif; }

.logo-row {
  padding: 2% 0; }

.tech-logo {
  padding: 5%;
  max-height: 125px; }

.portfolio-icon {
  max-width: 100%; }
