@import url(https://fonts.googleapis.com/css?family=Oxygen:300);
#custom-nav {
  transition: all 0.8s;
  height: 5em;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  background-color: #c5eed6; }
  #custom-nav .custom-nav-header {
    padding: 10px 0; }
    #custom-nav .custom-nav-header a {
      color: #e60838; }
  #custom-nav .navbar-name {
    margin: auto;
    text-decoration: none;
    font-size: 2em; }
  #custom-nav .custom-nav-links {
    padding: 10px 0;
    font-size: 1.25em;
    link-decoration: none; }
    #custom-nav .custom-nav-links li a:hover {
      color: #e60838; }
  #custom-nav .custom-nav-collapse {
    background-color: #c5eed6; }

header {
  padding: 8em 0 4em;
  background-color: #3ac390;
  color: #fff;
  font-family: 'Quicksand', sans-serif; }
  header h2, header h3 {
    padding-top: 2%;
    text-align: center; }
  header .name {
    color: #e60838; }
  header .profile-img {
    max-height: 250px;
    border-radius: 50%; }

#contact {
  background-color: #3ac390; }
  #contact h3, #contact h4 {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 2%; }
  #contact img {
    max-height: 150px;
    border-radius: 50%; }
  #contact .mail {
    padding-top: 2%;
    color: #c5eed6; }
  #contact .contact-icons {
    padding-top: 2%; }
    #contact .contact-icons a, #contact .contact-icons a:visited {
      padding: 5%;
      color: #fff;
      text-decoration: none; }
    #contact .contact-icons a:hover {
      color: #c5eed6;
      text-decoration: none; }
    #contact .contact-icons .popover-content {
      color: #3ac390; }

#footer {
  background-color: #c5eed6;
  padding: 2% 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif; }
  #footer a, #footer a:visited {
    color: #4C4C4C;
    text-decoration: none; }
  #footer a:hover {
    color: #3ac390;
    text-decoration: none; }
  #footer h5 {
    color: #e60838; }

body {
  position: relative; }

section {
  text-align: center;
  padding: 2% 0;
  border-bottom: 2px solid #DBDBDB; }

.section-header {
  font-family: 'Quicksand', sans-serif;
  color: #e60838;
  padding-bottom: 3%; }

.section-content {
  padding-bottom: 1%;
  color: #4C4C4C;
  line-height: 150%;
  font-size: 1.25em;
  font-family: 'Oxygen', sans-serif; }

.logo-row {
  padding: 2% 0; }

.tech-logo {
  padding: 5%;
  max-height: 125px; }

.portfolio-icon {
  max-width: 100%; }
