#contact {
	background-color: #3ac390;
	img {
		max-height: 150px;
		border-radius: 50%;
	}
	.contact-icons {
		padding-top: 2%;
		a, a:visited {
			color: #fff;
			text-decoration: none;
		}

		a:hover {
			color: rgb(197,238,214);
			text-decoration: none;
		}

		.popover-content {
	    color: #3ac390;
		}
	}
}

