#contact {
	background-color: #3ac390;
	border: none;
	h3, h4 {
		color: #fff;
		font-family: 'Quicksand', sans-serif;
		padding-bottom: 2%;
	}
	img {
		max-height: 150px;
		border-radius: 50%;
	}
	.mail {
		padding-top: 2%;
		color: rgb(197,238,214);
	}
	.contact-icons {
		a, a:visited {
			padding: 5%;
			color: #fff;
			text-decoration: none;
		}

		a:hover {
			color: rgb(197,238,214);
			text-decoration: none;
		}
	}
}

