#footer {
	background-color: rgb(197,238,214);
	padding: 1% 0;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	a, a:visited {
		color: #4C4C4C;
		text-decoration: none;
	}
	a:hover {
		color: #3ac390;
		text-decoration: none;
	}
}