header {
	padding: 8em 0;
	background-color: #3ac390;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	h2, h3 {
		padding-top: 2%;
		text-align: center;
	}
	.name {
		color: rgb(230, 8, 56);
	}
	.profile-img {
		max-height: 250px;
		border-radius: 50%;
	}
}

