#portfolio {
	.under-construction {
		font-family: 'Quicksand', sans-serif;
		font-style: italic;
		color: #4C4C4C;
		padding-bottom: 2%;
	}
	.portfolio-icon {
		max-width: 100%;
		padding-bottom: 1%;
	}
	.portfolio-link .caption {
		background-color: rgba(30,30,30,0.7);
		// padding: 1%;
		position: absolute;
		width: 92%;
		height: 98%;
		opacity: 0;
		.caption-content {
			color: #fff;
			font-family: 'Quicksand', sans-serif;
		}
		padding-top: 30%;
	}
	.portfolio-link .caption:hover {
		opacity: 1;
	}
}

.custom-modal {
	text-align: center;
	h1, h4, a {
		font-family: 'Quicksand', sans-serif;
	}
	h1 {
		margin-top: -2%;
		color: rgb(230, 8, 56);
	}
	h4 {
		font-style: italic;
		padding-bottom: 1%;
	}
	p {
		font-family: 'Oxygen', sans-serif;
		font-size: 1.25em;
		padding-top: 1%;
	}
	.modal-content {
		background-color: rgba(255,255,255,0.9);
	}
	.close-modal .lr {
	  height: 75px;
	  width: 1px;
	  margin-left: 35px;
	  background-color: #2c3e50;
	  color: #000;
	  transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  /* IE 9 */
	  -webkit-transform: rotate(45deg);
	  /* Safari and Chrome */
	  z-index: 1051;
	}
 .close-modal .lr .rl {
	  height: 75px;
	  width: 1px;
	  background-color: #2c3e50;
	  color: #000;
	  transform: rotate(90deg);
	  -ms-transform: rotate(90deg);
	  /* IE 9 */
	  -webkit-transform: rotate(90deg);
	  /* Safari and Chrome */
	  z-index: 1052;
	}
	.app-screenshot {
		margin: 0 auto;
		max-width: 70%;
		padding-bottom: 1%;
	}
	.icon-link {
		color: #4C4C4C;
	}
	.view-app {
		padding: 1% 0 2%;
	}
	a, a:visited {
		text-decoration: none;
		padding-right: 3%;
		color: #4C4C4C;
		.caption, .caption-content {
			visibility: hidden;
		}
	}
	a:hover {
		text-decoration: none;
		color: rgb(230, 8, 56);
	}
	.button-div {
		padding-top: 2%;
	}
	.exit {
		background-color: #B2B2B2;
	}
}